<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <style>
        table{
            text-align: center;
            width: 50%;
            margin: auto;
            margin-top: 100px;
            border-collapse: collapse;
        }
        th, td{
            border-bottom: 1px solid #CD5C5C;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th >No</th>
                    <th width="500">제목</th>
                    <th >작성자</th>
                    <th >게시일</th>
                    <th >조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>안녕하세요</td>
                    <td>운영자</td>
                    <td>2022.06.07</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
        <input type="button" value="등록" onclick="">
    </div>

    
</body>
</html>