<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../resources/css/index.css" type="text/css">
    <title>Genie Travel</title>
</head>
<body style="margin: 0px;">
    <header style="text-align: center;">
        <div class="title">
            <h1><a href="#"  >Genie Travel</a></h1>
            <div class="join">
                <button onclick="location.href='login.html'">로그인</button>
                <button onclick="location.href='join.html'">회원가입</button>
            </div>
        </div>
        <nav>
            <div>
                <a href="#">여행 용품</a>
                <a href="#">나의 여행계획</a>
                <a href="#">동료 모집</a>
                <a href="#">자유 게시판</a>
                <a href="#">공지사항</a>
            </div>
        </nav>
    </header>
    
</body>
</html>