<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../resources/css/index.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table style="text-align: center;">
			<thead>
				<tr>
					<th colspan="4">제목</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th >내용</th>
					<th >내용</th>
					<th >내용</th>
					<th >내용</th>
				</tr>
				<tr>
					<td colspan="4">본문</td>
				</tr>
			</tbody>
		</table>
		
		<span><a href="detailmodify?id=${n.boardnum }">수정</a></span>
		<span><a href="notice">목록</a></span>
		<span><a href="noticedelete?id=${n.boardnum }">삭제</a></span>
		
    </div>
</body>
</html>